class RhoeLiquid < Formula
  desc "RhoePlatform Liquid template engine CLI"
  homepage "https://github.com/RhoePlatform/RhoeLiquid"
  url "https://github.com/RhoePlatform/RhoeLiquid/archive/refs/tags/v__VERSION__.tar.gz"
  sha256 "__SOURCE_SHA256__"
  license "Apache-2.0"
  head "https://github.com/RhoePlatform/RhoeLiquid.git", branch: "main"
__BOTTLE_BLOCK__
  on_macos do
    depends_on xcode: ["26.0", :build]
  end

  on_linux do
    depends_on "swift" => :build
  end

  resource "swift-6.3.2-ubuntu24.04" do
    url "https://download.swift.org/swift-6.3.2-release/ubuntu2404/swift-6.3.2-RELEASE/swift-6.3.2-RELEASE-ubuntu24.04.tar.gz"
    sha256 "827b2e935b52425068729d277148f286b37886231299d71f9136bcffd7084339"
  end

  def install
    swift = ENV["HOMEBREW_RHOE_LIQUID_SWIFT"]
    swift = "swift" if swift.blank?

    if OS.linux?
      resource("swift-6.3.2-ubuntu24.04").stage do
        swift = Pathname.pwd/"usr/bin/swift"
        cd buildpath do
          system swift, "build", "-c", "release", "--product", "liquid", "--disable-sandbox"
        end
      end
    else
      system swift, "build", "-c", "release", "--product", "liquid", "--disable-sandbox"
    end

    bin.install buildpath/".build/release/liquid"

    manpage = buildpath/"Documentation/CLI/man/liquid.1"
    man1.install manpage if manpage.exist?

    bash_completion_path = buildpath/"Documentation/CLI/completions/liquid.bash"
    bash_completion.install bash_completion_path => "liquid" if bash_completion_path.exist?

    zsh_completion_path = buildpath/"Documentation/CLI/completions/liquid.zsh"
    zsh_completion.install zsh_completion_path => "_liquid" if zsh_completion_path.exist?

    fish_completion_path = buildpath/"Documentation/CLI/completions/liquid.fish"
    fish_completion.install fish_completion_path if fish_completion_path.exist?
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/liquid --version")

    (testpath/"context.json").write('{"name":"rhoe"}')
    (testpath/"template.liquid").write("Hello {{ name | upcase }}")
    system bin/"liquid", "render", "template.liquid", "--context", "context.json", "--output", "out.txt"
    assert_equal "Hello RHOE", (testpath/"out.txt").read
  end
end
