class RhoeLiquid < Formula
  desc "RhoePlatform Liquid template engine CLI"
  homepage "https://github.com/RhoePlatform/RhoeLiquid"
  url "https://github.com/RhoePlatform/RhoeLiquid/archive/refs/tags/v__VERSION__.tar.gz"
  sha256 "__SOURCE_SHA256__"
  license "Apache-2.0"
  head "https://github.com/RhoePlatform/RhoeLiquid.git", branch: "main"
__BOTTLE_BLOCK__
  on_macos do
    depends_on xcode: ["26.0", :build]
  end

  on_linux do
    depends_on "swift" => :build
  end

  def install
    swift = ENV["HOMEBREW_RHOE_LIQUID_SWIFT"]
    swift = "swift" if swift.blank?
    system swift, "build", "-c", "release", "--product", "liquid", "--disable-sandbox"
    bin.install ".build/release/liquid"

    manpage = "Documentation/CLI/man/liquid.1"
    man1.install manpage if File.exist?(manpage)

    bash_completion_path = "Documentation/CLI/completions/liquid.bash"
    bash_completion.install bash_completion_path => "liquid" if File.exist?(bash_completion_path)

    zsh_completion_path = "Documentation/CLI/completions/liquid.zsh"
    zsh_completion.install zsh_completion_path => "_liquid" if File.exist?(zsh_completion_path)

    fish_completion_path = "Documentation/CLI/completions/liquid.fish"
    fish_completion.install fish_completion_path if File.exist?(fish_completion_path)
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/liquid --version")

    (testpath/"context.json").write('{"name":"rhoe"}')
    (testpath/"template.liquid").write("Hello {{ name | upcase }}")
    system bin/"liquid", "render", "template.liquid", "--context", "context.json", "--output", "out.txt"
    assert_equal "Hello RHOE", (testpath/"out.txt").read
  end
end
